<div class="investigations" [attr.data-property1]="property1">
  <div class="investigations-child"></div>
  <div class="investigations-header">
    <div class="investigations-list">Investigations List</div>
    <div class="investigations-table">
      <div class="table">
        <div class="table-itemes-parent">
          <div class="table-itemes1">
            <div class="table-itemes-child"></div>
            <check-box
              [property1]="'Unchkable Empty'"
              [checkBoxHeight]="'24px'"
              [checkBoxWidth]="'24px'"
              [checkBoxPosition]="'absolute'"
              [checkBoxTop]="'calc(50% - 12px)'"
              [checkBoxLeft]="'calc(50% - 13px)'"
            >
            </check-box>
          </div>
          <div class="table-itemes2">
            <div class="table-itemes-item"></div>
            <check-box
              [property1]="'Default'"
              [checkBoxHeight]="'24px'"
              [checkBoxWidth]="'24px'"
              [checkBoxPosition]="'absolute'"
              [checkBoxTop]="'calc(50% - 12px)'"
              [checkBoxLeft]="'calc(50% - 13px)'"
            >
            </check-box>
          </div>
          <div class="table-itemes3">
            <check-box
              [property1]="'Default'"
              [checkBoxHeight]="'24px'"
              [checkBoxWidth]="'24px'"
              [checkBoxPosition]="'absolute'"
              [checkBoxTop]="'calc(50% - 12px)'"
              [checkBoxLeft]="'calc(50% - 13px)'"
            >
            </check-box>
          </div>
          <div class="table-itemes4">
            <check-box
              [property1]="'Default'"
              [checkBoxHeight]="'24px'"
              [checkBoxWidth]="'24px'"
              [checkBoxPosition]="'absolute'"
              [checkBoxTop]="'calc(50% - 12px)'"
              [checkBoxLeft]="'calc(50% - 13px)'"
            >
            </check-box>
          </div>
          <div class="table-itemes5">
            <div class="table-itemes-inner"></div>
            <check-box
              [property1]="'Default'"
              [checkBoxHeight]="'24px'"
              [checkBoxWidth]="'24px'"
              [checkBoxPosition]="'absolute'"
              [checkBoxTop]="'calc(50% - 12px)'"
              [checkBoxLeft]="'calc(50% - 13px)'"
            >
            </check-box>
          </div>
          <div class="table-itemes6">
            <check-box
              [property1]="'Default'"
              [checkBoxHeight]="'24px'"
              [checkBoxWidth]="'24px'"
              [checkBoxPosition]="'absolute'"
              [checkBoxTop]="'calc(50% - 12px)'"
              [checkBoxLeft]="'calc(50% - 13px)'"
            >
            </check-box>
          </div>
          <div class="table-itemes7">
            <div class="table-itemes-child1"></div>
            <check-box
              [property1]="'Default'"
              [checkBoxHeight]="'24px'"
              [checkBoxWidth]="'24px'"
              [checkBoxPosition]="'absolute'"
              [checkBoxTop]="'calc(50% - 12px)'"
              [checkBoxLeft]="'calc(50% - 13px)'"
            >
            </check-box>
          </div>
          <div class="table-itemes8">
            <check-box
              [property1]="'Default'"
              [checkBoxHeight]="'24px'"
              [checkBoxWidth]="'24px'"
              [checkBoxPosition]="'absolute'"
              [checkBoxTop]="'calc(50% - 12px)'"
              [checkBoxLeft]="'calc(50% - 13px)'"
            >
            </check-box>
          </div>
        </div>
        <div class="table-body">
          <div class="table-row">
            <table-itemes [property1]="'Head'" [tableText]="'Test'">
            </table-itemes>
            <div class="table-itemes9">
              <div class="table-itemes-child2"></div>
              <div class="table-text1">D.BIL</div>
            </div>
            <div class="table-itemes10">
              <div class="table-text2">LDH</div>
            </div>
            <div class="table-itemes11">
              <div class="table-itemes-child3"></div>
              <div class="table-text3">D.BIL</div>
            </div>
            <div class="table-itemes12">
              <div class="table-text4">LDH</div>
            </div>
            <div class="table-itemes13">
              <div class="table-itemes-child4"></div>
              <div class="table-text5">T.BIL.PROF</div>
            </div>
            <div class="table-itemes14">
              <div class="table-text6">T.BIL.PROF</div>
            </div>
            <div class="table-itemes15">
              <div class="table-itemes-child5"></div>
              <div class="table-text7">T.BIL.PROF</div>
            </div>
            <div class="table-itemes16">
              <div class="table-text8">T.BIL.PROF</div>
            </div>
            <div class="table-itemes17">
              <div class="table-itemes-child6"></div>
              <div class="table-text9">T.BIL.PROF</div>
            </div>
          </div>
        </div>
        <div class="table-header">
          <div class="header-items">
            <div class="table-itemes18">
              <div class="header-background"></div>
              <div class="table-text10"></div>
              <img
                class="swap-vertical-icon1"
                alt=""
                src="assets/swapvertical.svg"
              />
            </div>
            <div class="table-itemes19">
              <div class="header-background1"></div>
              <div class="table-text11">DIRECT BILIRUBIN</div>
            </div>
            <div class="table-itemes20">
              <div class="table-text12">DIRECT BILIRUBIN</div>
            </div>
            <div class="table-itemes21">
              <div class="header-background2"></div>
              <div class="table-text13">DIRECT BILIRUBIN</div>
            </div>
            <div class="table-itemes22">
              <div class="table-text14">DIRECT BILIRUBIN</div>
            </div>
            <div class="table-itemes23">
              <div class="header-background3"></div>
              <div class="table-text15">LDH</div>
            </div>
            <div class="table-itemes24">
              <div class="table-text16">TOTAL BILIRUBIN</div>
            </div>
            <div class="table-itemes25">
              <div class="header-background4"></div>
              <div class="table-text17">TOTAL BILIRUBIN</div>
            </div>
            <div class="table-itemes26">
              <div class="table-text18">TOTAL BILIRUBIN</div>
            </div>
            <div class="table-itemes27">
              <div class="header-background5"></div>
              <div class="table-text19">TOTAL BILIRUBIN</div>
            </div>
          </div>
        </div>
        <div class="table-header1">
          <div class="table-itemes-group">
            <div class="table-itemes28">
              <div class="table-itemes-child7"></div>
              <div class="table-text20">Test</div>
              <img
                class="swap-vertical-icon2"
                alt=""
                src="assets/swapvertical.svg"
              />
            </div>
            <div class="table-itemes29">
              <div class="table-itemes-child8"></div>
              <div class="table-text21">Table Text</div>
            </div>
            <div class="table-itemes30">
              <div class="table-text22">Table Text</div>
            </div>
            <div class="table-itemes31">
              <div class="table-itemes-child9"></div>
              <div class="table-text23">Table Text</div>
            </div>
            <div class="table-itemes32">
              <div class="table-text24">Table Text</div>
            </div>
            <div class="table-itemes33">
              <div class="table-itemes-child10"></div>
              <div class="table-text25">Table Text</div>
            </div>
            <div class="table-itemes34">
              <div class="table-text26">Table Text</div>
            </div>
            <div class="table-itemes35">
              <div class="table-itemes-child11"></div>
              <div class="table-text27">Table Text</div>
            </div>
            <div class="table-itemes36">
              <div class="table-text28">Table Text</div>
            </div>
            <div class="table-itemes37">
              <div class="table-itemes-child12"></div>
              <div class="table-text29">Table Text</div>
            </div>
          </div>
        </div>
        <div class="table-rows">
          <div class="table-content">
            <div class="table-itemes-container">
              <table-itemes
                [property1]="'Head'"
                [tableItemesWidth]="'408.7px'"
                [tableItemesGap]="'314px'"
                [tableText]="'Result'"
                [tableTextWidth]="'51px'"
              >
              </table-itemes>
              <div class="table-itemes38">
                <div class="cell-background"></div>
                <div class="table-text30">Table Text</div>
              </div>
              <div class="table-itemes39">
                <div class="table-text31">Table Text</div>
              </div>
              <div class="table-cell"></div>
              <div class="table-itemes40">
                <div class="table-text32">Table Text</div>
              </div>
              <div class="table-itemes41">
                <div class="cell-background1"></div>
                <div class="table-text33">Table Text</div>
              </div>
              <div class="table-itemes42">
                <div class="table-text34">Table Text</div>
              </div>
              <div class="table-itemes43">
                <div class="cell-background2"></div>
                <div class="table-text35">Table Text</div>
              </div>
              <div class="table-itemes44">
                <div class="table-text36">Table Text</div>
              </div>
              <div class="table-itemes45">
                <div class="table-itemes-child13"></div>
                <div class="table-text37">Table Text</div>
              </div>
            </div>
          </div>
          <div class="table-content1">
            <div class="table-itemes-parent1">
              <table-itemes
                [property1]="'Head'"
                [tableItemesWidth]="'408.7px'"
                [tableItemesGap]="'259px'"
                [tableText]="'Process Date'"
                [tableTextWidth]="'106px'"
              >
              </table-itemes>
              <div class="table-itemes46">
                <div class="table-itemes-child14"></div>
                <div class="table-text38">09/07/2024</div>
              </div>
              <div class="table-itemes47">
                <div class="table-text39">09/07/2024</div>
              </div>
              <div class="table-itemes48">
                <div class="cell-background3"></div>
                <div class="table-text40">09/07/2024</div>
              </div>
              <div class="table-itemes49">
                <div class="table-text41">09/07/2024</div>
              </div>
              <div class="table-itemes50">
                <div class="table-itemes-child15"></div>
                <div class="table-text42">09/07/2024</div>
              </div>
              <div class="table-itemes51">
                <div class="table-text43">09/07/2024</div>
              </div>
              <div class="table-itemes52">
                <div class="table-itemes-child16"></div>
                <div class="table-text44">09/07/2024</div>
              </div>
              <div class="table-itemes53">
                <div class="table-text45">09/07/2024</div>
              </div>
              <div class="table-itemes54">
                <div class="table-itemes-child17"></div>
                <div class="table-text46">09/07/2024</div>
              </div>
            </div>
          </div>
        </div>
        <div class="data-view-parent">
          <data-view1 [property1]="'Head'"> </data-view1>
          <div class="data-view2">
            <div class="data-view-inner"></div>
            <img
              class="vector-icon6"
              loading="lazy"
              alt=""
              src="assets/vector-10.svg"
            />
          </div>
          <img
            class="data-view-icon"
            loading="lazy"
            alt=""
            src="assets/data-view.svg"
          />
          <div class="data-view3">
            <div class="data-view-child1"></div>
            <img
              class="vector-icon7"
              loading="lazy"
              alt=""
              src="assets/vector-10.svg"
            />
          </div>
          <img
            class="data-view-icon1"
            loading="lazy"
            alt=""
            src="assets/data-view.svg"
          />
          <div class="data-view4">
            <div class="data-view-child2"></div>
            <img
              class="vector-icon8"
              loading="lazy"
              alt=""
              src="assets/vector-10.svg"
            />
          </div>
          <img
            class="data-view-icon2"
            loading="lazy"
            alt=""
            src="assets/data-view.svg"
          />
          <div class="data-view5">
            <div class="data-view-child3"></div>
            <img
              class="vector-icon9"
              loading="lazy"
              alt=""
              src="assets/vector-10.svg"
            />
          </div>
          <img
            class="data-view-icon3"
            loading="lazy"
            alt=""
            src="assets/data-view.svg"
          />
          <div class="data-view6">
            <div class="data-view-child4"></div>
            <img
              class="vector-icon10"
              loading="lazy"
              alt=""
              src="assets/vector-10.svg"
            />
          </div>
        </div>
        <div class="data-view-comments">
          <data-view2 [property1]="'Head'"> </data-view2>
          <img
            class="data-view-icon4"
            loading="lazy"
            alt=""
            src="assets/data-view-4.svg"
          />
          <img
            class="data-view-icon5"
            loading="lazy"
            alt=""
            src="assets/data-view-5.svg"
          />
          <img
            class="data-view-icon6"
            loading="lazy"
            alt=""
            src="assets/data-view-4.svg"
          />
          <div class="data-view7">
            <img class="data-view-child5" alt="" />
            <div class="vector-wrapper1">
              <img class="vector-icon11" alt="" src="assets/vector-15.svg" />
            </div>
          </div>
          <img
            class="data-view-icon7"
            loading="lazy"
            alt=""
            src="assets/data-view-4.svg"
          />
          <img
            class="data-view-icon8"
            loading="lazy"
            alt=""
            src="assets/data-view-5.svg"
          />
          <img
            class="data-view-icon9"
            loading="lazy"
            alt=""
            src="assets/data-view-4.svg"
          />
          <div class="data-view8">
            <div class="vector-wrapper2">
              <img
                class="vector-icon12"
                loading="lazy"
                alt=""
                src="assets/vector-15.svg"
              />
            </div>
            <img class="data-view-child6" loading="lazy" alt="" />
          </div>
          <img
            class="data-view-icon10"
            loading="lazy"
            alt=""
            src="assets/data-view-10.svg"
          />
        </div>
        <div class="data-view-group">
          <div class="data-view9">
            <div class="data-view-child7"></div>
            <img class="vector-icon13" alt="" src="assets/vector1.svg" />
            <div class="order-comment2">Order Comment</div>
          </div>
          <img
            class="frame-child20"
            loading="lazy"
            alt=""
            src="assets/group-708.svg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
