<div class="frame-parent5">
  <div class="back-button-parent">
    <div class="back-button">
      <div class="back-button-child"></div>
      <img
        class="back-button-icon"
        loading="lazy"
        alt=""
        src="assets/vector-6.svg"
      />
    </div>
    <div class="new-specimen-registration-wrapper">
      <h2 class="new-specimen-registration1">New Specimen Registration</h2>
    </div>
  </div>
  <div class="frame-wrapper">
    <div class="checkbox-labels-parent">
      <div class="checkbox-labels">
        <check-box [property1]="'Default'"> </check-box>
        <div class="priority-specimen">Priority Specimen</div>
      </div>
      <div class="checkbox-labels">
        <check-box
          [property1]="'Default'"
          [checkBoxHeight]="'20px'"
          [checkBoxWidth]="'20px'"
          [checkBoxPosition]="'relative'"
          [checkBoxTop]="'unset'"
          [checkBoxLeft]="'unset'"
        >
        </check-box>
        <div class="priority-specimen">Print Request Slip</div>
      </div>
    </div>
  </div>
</div>
