<div class="specimen-data-columns">
  <div class="order-no1">
    <div class="specimen-data-headers">
      <div class="specimen-data-header-items">
        <div class="white-space1"></div>
        <div class="specimen-no2">Specimen No</div>
      </div>
      <div class="order-data">
        <div class="overlay-top-panel8"></div>
        <div class="doctor-label">1014000001</div>
      </div>
    </div>
    <div class="facility-data">41</div>
    <div class="doctor-name">
      <div class="overlay-top-panel9"></div>
    </div>
  </div>
  <div class="order-no2">
    <div class="order-no-inner">
      <div class="order-no-parent">
        <div class="order-no3">Order No</div>
        <div class="overlay-top-panel-parent4">
          <div class="overlay-top-panel10"></div>
          <div class="lmbc">LMBC</div>
        </div>
      </div>
    </div>
    <div class="white-space2"></div>
    <div class="overlay-top-panel-parent5">
      <div class="overlay-top-panel11"></div>
      <div class="lbem00000000001">LBEM00000000001</div>
    </div>
  </div>
  <div class="order-no4">
    <div class="overlay-top-panel12"></div>
    <div class="facility-wrapper">
      <div class="facility">Facility</div>
    </div>
    <div class="white-space3"></div>
    <div class="al-arab-medical">Al Arab Medical Unit (F1)</div>
  </div>
  <order-no> </order-no><order-no> </order-no>
</div>
