<div class="new-specimen-registration">
  <div class="new-specimen-registration-child"></div>
  <div class="new-specimen-registration-item"></div>
  <div class="new-specimen-registration-inner"></div>
  <section class="frame-container">
    <header class="frame-header">
      <div class="frame-child8"></div>
      <div class="menu-container">
        <img class="menu-icon1" loading="lazy" alt="" src="assets/menu.svg" />
      </div>
      <div class="main-logo-3-container"><main-logo> </main-logo></div>
      <div class="instance-container"><header-left> </header-left></div>
    </header>
    <frame-component> </frame-component><group-component4> </group-component4>
  </section>
  <specimen-details-v [property1]="'Specimen Details'"> </specimen-details-v>
  <img class="side-menu-icon" loading="lazy" alt="" /><investigations-container>
  </investigations-container
  ><group-component5> </group-component5>
</div>
