<div class="login-form-group">
  <div class="login-form2">
    <group-component [property1]="'Default'"> </group-component>
  </div>
  <div class="vector-container">
    <img class="frame-child13" alt="" src="assets/vector-4.svg" />
  </div>
  <div class="second-login-form">
    <group-component1 [property1]="'Default'"> </group-component1>
  </div>
  <div class="vector-frame">
    <img class="frame-child13" alt="" src="assets/vector-4.svg" />
  </div>
  <div class="third-login-form">
    <group-component2 [property1]="'Default'"> </group-component2>
  </div>
  <header-right> </header-right>
</div>
