<section class="group-section">
  <div class="frame-child21"></div>
  <div class="registration-types">
    <div class="registration-type-options">
      <div class="type-options-parent">
        <div class="type-options"></div>
        <div class="stat">Stat</div>
      </div>
      <div class="rectangle-parent4">
        <div class="frame-child22"></div>
        <div class="urgent">Urgent</div>
      </div>
      <div class="rectangle-parent4">
        <div class="frame-child23"></div>
        <div class="routine">Routine</div>
      </div>
    </div>
  </div>
  <div class="hospital-order-parent1">
    <group-component3 [property1]="'S2 Defalult'" [hospitalOrder]="'Cancel'">
    </group-component3
    ><group-component3 [property1]="'Default'" [hospitalOrder]="'Reg Specimen'">
    </group-component3>
  </div>
</section>
