<div class="collection-date1">
  <order-no1 [collectionDate]="'Collection Date'"> </order-no1>
  <div class="order-no6">
    <div class="overlay-top-panel15"></div>
    <div class="order-no-child">
      <div class="white-space-parent">
        <div class="white-space5"></div>
        <div class="received-date">Received Date</div>
      </div>
    </div>
    <div class="separator-icon-parent">
      <div class="separator-icon">
        <div class="overlay-top-panel16"></div>
        <div class="separator-space">03/07/2024 17:05</div>
      </div>
      <img
        class="vector-icon3"
        loading="lazy"
        alt=""
        src="assets/vector-7.svg"
      />
    </div>
  </div>
  <order-no1
    [registeredDateWidth]="'100px'"
    [collectionDate]="'Registered Date'"
    [collectionDateWidth]="'100px'"
  >
  </order-no1>
  <div class="order-no7">
    <div class="overlay-top-panel-parent6">
      <div class="overlay-top-panel17"></div>
      <div class="overlay-top-panel18"></div>
      <div class="white-space6"></div>
      <div class="perform-site">Perform Site</div>
    </div>
  </div>
  <div class="order-no8">
    <div class="frame-parent7">
      <div class="spec-type-wrapper">
        <div class="spec-type">Spec Type</div>
      </div>
      <div class="overlay-top-panel-parent7">
        <div class="overlay-top-panel19"></div>
        <div class="ser">SER</div>
      </div>
    </div>
    <div class="white-space7"></div>
    <div class="serum">Serum</div>
    <div class="overlay-top-panel-wrapper">
      <div class="overlay-top-panel20"></div>
    </div>
  </div>
</div>
