<div class="third-login-inputs-wrapper" [attr.data-property1]="property1">
  <div class="third-login-inputs">
    <div class="third-login-input-row-parent">
      <div class="third-login-input-row">
        <img class="third-login-input-icon" alt="" src="assets/vector-3.svg" />
        <div class="third-login-input-label">
          <a class="login3" [ngStyle]="login2Style">Lab Tech</a>
        </div>
      </div>
      <div class="third-login-input-spacing">
        <img
          class="third-login-input-bottom-icon"
          alt=""
          src="assets/vector-1.svg"
        />
      </div>
    </div>
  </div>
</div>
