<div class="second-login-inputs-wrapper" [attr.data-property1]="property1">
  <div class="second-login-inputs">
    <div class="overlay-top-panel-group">
      <div class="overlay-top-panel1"></div>
      <div class="second-login-input-row">
        <img
          class="second-login-input-row-child"
          alt=""
          src="assets/group-490.svg"
        />
        <div class="second-login-input-label">
          <a class="login2" [ngStyle]="login1Style"
            >Al Arab Medical Unit (F1)</a
          >
        </div>
      </div>
      <div class="second-login-input-spacing">
        <img
          class="second-login-input-bottom-icon"
          alt=""
          src="assets/vector-1.svg"
        />
      </div>
    </div>
  </div>
</div>
