<div class="registration">
  <div class="registration-child"></div>
  <div class="div">/</div>
  <header class="rectangle-parent">
    <div class="frame-child"></div>
    <div class="menu-wrapper">
      <img class="menu-icon" loading="lazy" alt="" src="assets/menu.svg" />
    </div>
    <div class="main-logo-3-wrapper"><main-logo> </main-logo></div>
    <div class="instance-wrapper"><header-left> </header-left></div>
  </header>
  <main class="instance-parent">
    <img
      class="frame-item"
      loading="lazy"
      alt=""
      src="assets/group-688.svg"
    /><page-content> </page-content>
  </main>
</div>
