<section class="page-content">
  <div class="registration-parent">
    <a class="registration1">Registration</a>
    <div class="input-container1">
      <div class="overlay-top-panel-container">
        <div class="overlay-top-panel4"></div>
        <div class="field-label">
          <img
            class="field-label-child"
            loading="lazy"
            alt=""
            src="assets/group-695.svg"
          />
        </div>
        <div class="field-input">
          <h3 class="specimen-no1">Specimen No</h3>
          <input1
            [placeholder]="'Enter Specimen No'"
            [onGroupClick]="onGroupClick"
          >
          </input1>
        </div>
      </div>
      <div class="overlay-top-panel-parent1">
        <div class="overlay-top-panel5"></div>
        <div class="encounter-wrapper">
          <h3 class="encounter">Encounter</h3>
        </div>
        <div class="instance-group">
          <img class="frame-child17" alt="" src="assets/group-695-1.svg" />
          <div class="input-frame">
            <input1
              [inputFlex]="'unset'"
              [inputGap]="'110.9px'"
              [placeholder]="'Enter Patient ID'"
              [inputWrapperMinWidth]="'89px'"
            >
            </input1>
          </div>
        </div>
      </div>
      <dash-btn
        [property1]="'Default'"
        [hospitalOrder]="'Hospital Order'"
        [group695]="'assets/group-695-2.svg'"
      >
      </dash-btn
      ><dash-btn
        [property1]="'Default'"
        [hospitalOrder]="'External Patient'"
        [group695]="'assets/group-695-3.svg'"
      >
      </dash-btn
      ><dash-btn
        [property1]="'Default'"
        [hospitalOrder]="'New Patient'"
        [group695]="'assets/group-695-4.svg'"
      >
      </dash-btn>
      <img
        class="mouwasat-logo-1-1"
        loading="lazy"
        alt=""
        src="assets/mouwasatlogo-1-1@2x.png"
      />
    </div>
  </div>
</section>
