<div class="order-no">
  <div class="frame-parent6">
    <div class="doctor-wrapper">
      <div class="doctor">
        <span>*</span>
        <span class="doctor1">Doctor</span>
      </div>
    </div>
    <div class="overlay-top-panel-parent2">
      <div class="overlay-top-panel6"></div>
      <div class="div5">10_3037</div>
    </div>
  </div>
  <div class="white-space"></div>
  <div class="overlay-top-panel-parent3">
    <div class="overlay-top-panel7"></div>
    <div class="amir-el-sayed">AMIR EL SAYED Y</div>
  </div>
</div>
