.overlay-top-panel13 {
  width: 100%;
  height: 50px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  border: 1px solid var(--stroke-1);
  box-sizing: border-box;
  z-index: 0;
}
.collection-date,
.registered-date {
  width: 96px;
  height: 19px;
  display: flex;
}
.collection-date {
  position: relative;
  align-items: center;
  flex-shrink: 0;
}
.registered-date {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  z-index: 5;
}
.overlay-top-panel14,
.white-space4 {
  position: absolute;
  margin: 0 !important;
  background-color: var(--white);
}
.white-space4 {
  width: 101px;
  height: 13px;
  top: 4px;
  left: 9px;
  z-index: 2;
}
.overlay-top-panel14 {
  height: 50px;
  width: 200px;
  top: -17px;
  right: -66px;
  border: 1px solid var(--stroke-1);
  box-sizing: border-box;
  z-index: 0;
}
.menu-icon-containers,
.menu-icon-spacing {
  height: 21px;
  display: flex;
  position: relative;
}
.menu-icon-spacing {
  width: 125px;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.menu-icon-containers {
  width: 124px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.vector-icon2 {
  height: 24.2px;
  width: 22px;
  position: relative;
  z-index: 1;
}
.menu-icons,
.order-no5 {
  display: flex;
  justify-content: flex-start;
}
.menu-icons {
  width: 226px;
  height: 25px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-61xl);
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--text-1);
}
.order-no5 {
  height: 61px;
  width: 250px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-8xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text-2);
  font-family: var(--font-segoe-ui);
}
