<div class="order-no5">
  <div class="overlay-top-panel13"></div>
  <div class="registered-date" [ngStyle]="registeredDateStyle">
    <div class="collection-date" [ngStyle]="collectionDateStyle">
      {{collectionDate}}
    </div>
  </div>
  <div class="white-space4"></div>
  <div class="menu-icons">
    <div class="menu-icon-containers">
      <div class="overlay-top-panel14"></div>
      <div class="menu-icon-spacing">03/07/2024 17:05</div>
    </div>
    <img class="vector-icon2" loading="lazy" alt="" src="assets/vector-7.svg" />
  </div>
</div>
