<div class="rectangle-parent3">
  <div class="frame-child19"></div>
  <div class="patient-id-parent">
    <b class="patient-id">Patient ID:</b>
    <div class="patient-id-value">112838</div>
  </div>
  <div class="patient-details-labels">
    <div class="patient-details-values">|</div>
  </div>
  <b class="name">Name:</b>
  <div class="patient-details-labels1">
    <div class="abdullah-ahmad-mansour">ABDULLAH AHMAD MANSOUR AL-MASHAMA</div>
  </div>
  <div class="nationality-label">|</div>
  <b class="sex">Sex:</b>
  <div class="patient-details-labels2">
    <div class="male">Male</div>
  </div>
  <div class="patient-details-labels">
    <div class="patient-details-values">|</div>
  </div>
  <b class="age">Age:</b>
  <div class="patient-details-labels2">
    <div class="y-07m-25d">25Y 07M 25D</div>
  </div>
  <div class="patient-details-labels">
    <div class="patient-details-values">|</div>
  </div>
  <b class="visittfr-no">Visit/Tfr No :</b>
  <div class="patient-details-labels6">
    <div class="div3">1</div>
  </div>
  <div class="patient-details-labels">
    <div class="patient-details-values">|</div>
  </div>
  <b class="nationality">Nationality:</b>
  <div class="saudi">SAUDI</div>
</div>
