<div class="overlay-top-panel-parent" [attr.data-property1]="property1">
  <div class="overlay-top-panel"></div>
  <div class="login-inputs">
    <div class="login-input-icon-parent">
      <img class="login-input-icon" alt="" src="assets/login-input-icon.svg" />
      <div class="login-input-label">
        <a class="login1" [ngStyle]="loginStyle">Chemistry</a>
      </div>
      <div class="login-input-spacing">
        <img class="login-input-bottom-icon" alt="" src="assets/vector-1.svg" />
      </div>
    </div>
  </div>
</div>
