@import url(https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;600;700&display=swap);
body {
  margin: 0;
  line-height: normal;
}
:root {
  --font-segoe-ui: "Segoe UI";
  --font-size-5xl: 24px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-base: 16px;
  --font-size-3xs: 10px;
  --font-size-sm: 14px;
  --font-size-3xl: 22px;
  --font-size-xs: 12px;
  --font-size-11xl: 30px;
  --white: #fff;
  --table-head: #e3e6e8;
  --stroke-1: #dbdbdb;
  --color-gainsboro-100: rgba(217, 217, 217, 0.6);
  --table-2: #f7f7f8;
  --color-whitesmoke-100: #f4f4f4;
  --mouse-hover: #e9ebed;
  --text-1: #22272a;
  --text-2: #707070;
  --text-3: #9da7af;
  --color-black: #000;
  --icon: #0570c7;
  --button-2: #04599f;
  --color-darkslateblue-100: #185092;
  --button-3: #03346d;
  --d-1: #c5e86c;
  --color-tomato: #ff4747;
  --color-red: #ff0000;
  --color-silver: #bbc5c3;
  --color-teal: #29748a;
  --color-cadetblue: #3e97b5;
  --color-khaki: #c2db6f;
  --color-aquamarine-100: #75f0bc;
  --color-aquamarine-200: rgba(117, 240, 188, 0.4);
  --color-orange: #ffba00;
  --color-orangered: #ff4f00;
  --color-lavender: #d0eaff;
  --color-palegoldenrod: #fffcb4;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-91xl-9: 110.9px;
  --gap-36xl: 55px;
  --gap-mini: 15px;
  --gap-base-8: 16.8px;
  --gap-58xl-9: 77.9px;
  --gap-20xl: 39px;
  --gap-7xs: 6px;
  --gap-12xs-4: 0.4px;
  --gap-4xl: 23px;
  --gap-2xs-7: 10.7px;
  --gap-3xs: 10px;
  --gap-xs: 12px;
  --gap-6xs: 7px;
  --gap-2xs-8: 10.8px;
  --gap-12xs: 1px;
  --gap-240xl: 259px;
  --gap-295xl: 314px;
  --gap-245xl: 264px;
  --gap-xl-3: 20.3px;
  --gap-4xs: 9px;
  --gap-8xs: 5px;
  --gap-61xl: 80px;
  --gap-2xl: 21px;
  --gap-5xs: 8px;
  --gap-59xl: 78px;
  --gap-7xs-6: 5.6px;
  --padding-xl: 20px;
  --padding-13xl: 32px;
  --padding-346xl: 365px;
  --padding-218xl: 237px;
  --padding-10xl: 29px;
  --padding-32xl-3: 51.3px;
  --padding-21xl: 40px;
  --padding-60xl: 79px;
  --padding-15xl: 34px;
  --padding-4xl: 23px;
  --padding-5xl: 24px;
  --padding-lg-6: 18.6px;
  --padding-12xs: 1px;
  --padding-3xs: 10px;
  --padding-mini: 15px;
  --padding-58xl: 77px;
  --padding-59xl: 78px;
  --padding-11xl-2: 30.2px;
  --padding-7xs: 6px;
  --padding-base: 16px;
  --padding-5xs-6: 7.6px;
  --padding-10xs-4: 2.4px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-8xs: 5px;
  --padding-smi: 13px;
  --padding-5xs: 8px;
  --padding-4xs-4: 8.4px;
  --padding-94xl: 113px;
  --padding-45xl: 64px;
  --padding-20xl: 39px;
  --padding-9xs: 4px;
  --padding-4xs: 9px;
  --padding-lg: 18px;
  --padding-mid: 17px;
  --padding-13xl-6: 32.6px;
  --padding-lgi: 19px;
  --padding-15xl-4: 34.4px;
  --padding-mid-3: 17.3px;
  --padding-44xl: 63px;
  --padding-lg-7: 18.7px;
  --padding-18xl: 37px;
  --padding-13xl-5: 32.5px;
  --padding-2xs-8: 10.8px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-2xs: 11px;
  --padding-3xs-7: 9.7px;
  --padding-12xs-9: 0.9px;
  --padding-138xl: 157px;
  --padding-23xl: 42px;
  --padding-11xl: 30px;
  --padding-mid-2: 17.2px;
  --padding-2xl: 21px;
  --padding-lg-8: 18.8px;
  --padding-6xl: 25px;
  --padding-8xl: 27px;
  --shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
