<div class="header-right">
  <div class="frame-parent2">
    <img class="frame-child11" alt="" src="assets/group-487.svg" />
    <div class="ellipse-parent">
      <div class="ellipse-div"></div>
      <b class="b">2</b>
    </div>
  </div>
  <img class="header-right-child" alt="" src="assets/vector-9.svg" />
  <div class="language-icon">
    <img class="language-icon-child" alt="" src="assets/vector-4.svg" />
  </div>
  <div class="language-dropdown">
    <language1 [property1]="'Default'"> </language1>
  </div>
  <div class="frame-parent3">
    <div class="language-icon">
      <img class="language-icon-child" alt="" src="assets/vector-4.svg" />
    </div>
    <profile [property1]="'Default'"> </profile>
  </div>
</div>
